.row
  .large-12.columns
    %h2= @campaign.name
.row
  .large-12.columns
    .section-container.tabs{data: {section: "tabs"}}
      %section.active
        %p.title
          = link_to "PNJs", "#panel1"
        %div.content
          = render partial: "campaign_npc_table"
      %section
        %p.title
          = link_to "Groupes", "#panel2"
        %div.content
          = render partial: "campaign_group_table"
