.row
  .twelve.columns
    %h2= @campaign.name
.row
  .twelve.columns
    %section.tabs
      %ul.tab-nav
        %li.active= link_to "PNJs", "#", 'data-no-turbolink' => true
        %li= link_to "Groupes", "#", 'data-no-turbolink' => true
      .tab-content.active= render partial: "campaign_npc_table"
      .tab-content= render partial: "campaign_group_table"
