= form.hidden_field :campaign_id
.row
  .large-12.columns
    = form.label :name, "Nom du groupe"
    = form.text_field :name
.row
  .large-12.columns
    = form.label :goals, "Buts du groupe"
    = form.text_area :goals
.row
  .large-12.columns
    = form.label :powers, "Moyens et pouvoirs du groupe"
    = form.text_area :powers
